<!DOCTYPE html>
<html land="ja">
<head>
  <meta charset="utf-8">
  <title>MySinatra</title>
  <link href="stylesheets/style.css" rel="stylesheet" media="all">
</head>
<body>
  <%= yield %>
</body>
</html>
